<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ cd.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card [ngClass]="{'is-lend': cd.isLend, 'is-not-lend': !cd.isLend}">
    <ion-card-header>{{ cd.name }}</ion-card-header>
    <ion-card-content>
      <p>{{ cd.band }}</p>
      <p *ngFor="let line of cd.description">{{ line }}</p>
    </ion-card-content>
    <span *ngIf="cd.isLend">{{ cd.emprunteur }}</span>
    <form [formGroup]="cdLendForm" *ngIf="!cd.isLend">
       <ion-list>
        <ion-item>
          <ion-label>Nom Emprunteur</ion-label>
          <ion-input formControlName="name"></ion-input>           
        </ion-item>
        <button ion-button full (click)="onSubmitForm()">Enregistrer</button>
      </ion-list>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button
                  full
                  color="danger"
                  [disabled]="cd.isLend || !cd.emprunteur"
                  (click)="onToggleCd()">Emprunter</button>
        </ion-col>
        <ion-col>
          <button ion-button
                  full
                  color="secondary"
                  [disabled]="!cd.isLend"
                  (click)="onToggleCd()">Rendre</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
