<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'new'})" *ngIf="!isAuth">
        <ion-icon name="person-add"></ion-icon>
        Nouvel Utilisateur
    </button>
    <button ion-item icon-start (click)="onNavigate(authPage, {mode: 'connect'})" *ngIf="!isAuth">
        <ion-icon name="person"></ion-icon>
        Connexion
    </button>
</ion-content>
