<ion-header>

  <ion-navbar>
    <ion-title>Bibliothèque</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item
            [ngClass]="{'is-lend': book.isLend, 'is-not-lend': !book.isLend}"
            *ngFor="let book of bookList; let i = index"
            (click)="onLoadBook(i)">
      <ion-icon name="lend" [color]="book.isLend ? 'secondary' : 'danger'"></ion-icon>
      {{ book.name }}
      <span *ngIf="book.isLend">=> {{ book.emprunteur }}</span>
    </button>
  </ion-list>
</ion-content>
