<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ book.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card [ngClass]="{'is-lend': book.isLend, 'is-not-lend': !book.isLend}">
    <ion-card-header>{{ book.name }}</ion-card-header>
    <ion-card-content>
      <p>{{ book.author }}</p>
      <p *ngFor="let line of book.description">{{ line }}</p>
    </ion-card-content>
    <span *ngIf="book.isLend">{{ book.emprunteur }}</span>
    <form [formGroup]="bookLendForm" *ngIf="!book.isLend">
       <ion-list>
        <ion-item>
          <ion-label>Nom Emprunteur</ion-label>
          <ion-input formControlName="name"></ion-input>           
        </ion-item>
        <button ion-button full (click)="onSubmitForm()">Enregistrer</button>
      </ion-list>
    </form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button
                  full
                  color="danger"
                  [disabled]="book.isLend || !book.emprunteur"
                  (click)="onToggleBook()">Emprunter</button>
        </ion-col>
        <ion-col>
          <button ion-button
                  full
                  color="secondary"
                  [disabled]="!book.isLend"
                  (click)="onToggleBook()">Rendre</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
